In [10]:
my_list1 = [1, 2, 3]

In [11]:
my_list2 = my_list1

In [13]:
print(my_list1)
print(my_list2)

[1, 2, 3]
[1, 2, 3]

In [16]:
my_list2.append(4)

In [18]:
print(my_list1)
print(my_list2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [19]:
my_list_original = [10, 20, 30]

In [20]:
# 1. copy() 함수 사용해서 리스트 복사하기
my_list_copy = my_list_original.copy()
my_list_copy.append(4)
print(my_list_original)
print(my_list_copy)

[10, 20, 30]
[10, 20, 30, 4]

In [21]:
# 2. slice 기법을 사용하여 리스트 복사하기
my_list_slice = my_list_original[:]
my_list_slice.append(40)
print(my_list_original)
print(my_list_slice)

[10, 20, 30]
[10, 20, 30, 40]

# 딕셔너리
딕셔너리를 다루는 방법과 데이터 분석을 하기 위해 사용하는 pandas의 사용법이 매우 유사

In [22]:
my_dict = {
    'name':'소민호',
    'age': 33
}
print(my_dict)

{'name': '소민호', 'age': 33}

In [23]:
print(my_dict['name'])

소민호

In [24]:
print(my_dict['age'])

33

문법상 딕셔너리의 데이터 추가와 수정은 똑같다

In [25]:
my_dict['email']= 'msho.devilgamil.com'
print(my_dict)

{'name': '소민호', 'age': 33, 'email': 'msho.devilgamil.com'}

In [26]:
my_dict['age']=34
print(my_dict)

{'name': '소민호', 'age': 34, 'email': 'msho.devilgamil.com'}

딕셔너리의 결합

In [27]:
dict_a= {'a':1 , 'b' :2}
dict_b= {'c':3, 'd' : 4}
dict_a.update(dict_b)
print(dict_a)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [28]:
dict_a= {'a':1 , 'b' :2}
dict_b= {'b':3, 'd' : 4}
dict_a.update(dict_b)
print(dict_a)

{'a': 1, 'b': 3, 'd': 4}

In [29]:
my_dict = {
    'a':10,
    'b':20}

In [30]:
'a' in my_dict # 'a' 라는 키값이 my_dict에 있다.

True

In [31]:
'c'in my_dict

False

In [32]:
my_dict['a']

10

In [33]:
my_dict['c']

KeyError: 'c'

In [34]:
my_dict.keys()

dict_keys(['a', 'b'])

In [35]:
my_dict.values()

dict_values([10, 20])

In [36]:
my_dict.items()

dict_items([('a', 10), ('b', 20)])

In [37]:
# 딕셔너리 삭제
del my_dict['a']
my_dict

{'b': 20}

In [38]:
# 딕셔너리 전체 삭제
my_dict.clear()

In [39]:
my_dict

{}

# set(집합)
중복된 자료의 저장  불가( 데이터의 unique 유지)
데이터 저장의 순서가 없다 (hash 알고리즘)

In [40]:
set1 = {1,2,3,4,6,7,1,2,3,7,9,2,1,2,3}
print(set1)

{1, 2, 3, 4, 6, 7, 9}

In [41]:
my_list= [ 1,5,2,3,4,1,20,1,2,3,1,2,3,5,4,6,7,8,9]
set2 = set(my_list)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 20}

In [43]:
my_str = 'letter'
set3 = set(my_str)
print(set3)

{'r', 'l', 'e', 't'}

In [44]:
list(set3)

['r', 'l', 'e', 't']

데이터 분석을 하기 위한 자료구조

통계적, 수학적 분석(보통 pandas)
머신러닝이나 딥러닝 분석(tensor 개념)

In [50]:
list_2dim = [[10 , 20, 30],
             [40, 50, 60]]
print(list_2dim)

[[10, 20, 30], [40, 50, 60]]

In [52]:
list_2dim[1]

[40, 50, 60]

In [51]:
list_2dim[1][1]

50

# 판다스 사용하기
설치 : pip install pandas

In [53]:
import pandas as pd
import numpy as np

In [54]:
s = pd.Series([1,2,3,np.nan,6,7])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    7.0
dtype: float64

In [55]:
dates= pd.date_range('20200828', periods = 10)
dates

DatetimeIndex(['2020-08-28', '2020-08-29', '2020-08-30', '2020-08-31',
               '2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04',
               '2020-09-05', '2020-09-06'],
              dtype='datetime64[ns]', freq='D')

In [57]:
df = pd.DataFrame(np.random.rand(5,4),
           index = [1,2,3,4,5],
                 columns=['A', 'B','C', 'D'])
df

          A         B         C         D
1  0.873723  0.004713  0.435666  0.554272
2  0.693594  0.828052  0.466386  0.644803
3  0.967500  0.049202  0.547983  0.432335
4  0.246778  0.712345  0.245413  0.764022
5  0.455776  0.591349  0.858506  0.748760

In [58]:
df['A']

1    0.873723
2    0.693594
3    0.967500
4    0.246778
5    0.455776
Name: A, dtype: float64

In [62]:
df[['A','C']]

          A         C
1  0.873723  0.435666
2  0.693594  0.466386
3  0.967500  0.547983
4  0.246778  0.245413
5  0.455776  0.858506

In [63]:
column_names = ['A', 'D']
df[column_names]

          A         D
1  0.873723  0.554272
2  0.693594  0.644803
3  0.967500  0.432335
4  0.246778  0.764022
5  0.455776  0.748760

In [64]:
df.loc[3]

A    0.967500
B    0.049202
C    0.547983
D    0.432335
Name: 3, dtype: float64

In [65]:
df.loc[:, ['A', 'C']]

          A         C
1  0.873723  0.435666
2  0.693594  0.466386
3  0.967500  0.547983
4  0.246778  0.245413
5  0.455776  0.858506

In [67]:
df.loc[1:3, ['B','D']]

          B         D
1  0.004713  0.554272
2  0.828052  0.644803
3  0.049202  0.432335

In [68]:
df['A']>0.5

1     True
2     True
3     True
4    False
5    False
Name: A, dtype: bool

In [69]:
df[df['A']>0.3]

          A         B         C         D
1  0.873723  0.004713  0.435666  0.554272
2  0.693594  0.828052  0.466386  0.644803
3  0.967500  0.049202  0.547983  0.432335
5  0.455776  0.591349  0.858506  0.748760

In [70]:
df[df>0.3]

          A         B         C         D
1  0.873723       NaN  0.435666  0.554272
2  0.693594  0.828052  0.466386  0.644803
3  0.967500       NaN  0.547983  0.432335
4       NaN  0.712345       NaN  0.764022
5  0.455776  0.591349  0.858506  0.748760

B 컬럼의 값이 0.3 보다 큰 상태에서 A,D 만 뽑아주세요

In [71]:
df.loc[df['B']>0.3, ['A','D']]

          A         D
2  0.693594  0.644803
4  0.246778  0.764022
5  0.455776  0.748760